In [1]:
x =50

def func(x):
    print('x is:' , x)
    x = 100
    print('x changed local' , x)
    
func(x)
print(x)

x is: 50
x changed local 100
50

In [2]:
mylist = [1,2,3]

In [3]:
mylist.append(4)

In [4]:
mylist

[1, 2, 3, 4]

In [5]:
class Sample():
    pass

In [6]:
x = Sample()

In [7]:
type(x)

__main__.Sample

In [8]:
class Dog():
    pass

mydog = Dog()
print(type(mydog))

<class '__main__.Dog'>

In [9]:
class Dog():
    species = 'mammal'
    
    def __init__(self,breed,color):
     self.breed = breed
     self.color = color
        
    #init method called automatically when object is created and with mandatory self keyword which means that it refers to actual class Dog, breed & color are attributes

  

mydog = Dog(breed = 'Pam',color = 'black')
print(mydog.breed)
print(mydog.color)
print(mydog.species)

Pam
black
mammal

In [10]:
class Circle():
    
    pi= 3.14
    
    def __init__(self,radius =1):
     self.radius = radius
    
    
    def area(self):
        return self.radius*self.radius*Circle.pi
        
    
myc = Circle(3)
print(myc.radius)
print(myc.area())

3
28.26

In [11]:
class Circle():
    
    pi= 3.14
    
    def __init__(self,radius =1):
     self.radius = radius
    
    
    def area(self):
        return self.radius*self.radius*Circle.pi
    
    def setRadius(self, new_r): #to change radius technique 1.
        self.radius = new_r
        
    
myc = Circle(3)
myc.setRadius(999)
print(myc.area())

3133723.14

In [12]:
x =10

In [13]:
x

10

Day 1

In [14]:
x = 'Hello Neel'

In [15]:
type(x)

str

In [16]:
x = 5
y = 4

In [17]:
x > y

True

In [18]:
type(x> y)

bool

In [19]:
x = 4.876

In [20]:
type(x)

float

In [21]:
x = 2.0
y = 3.0

In [22]:
z = x + y

In [23]:
z

5.0

In [24]:
x = 'Hi'

In [25]:
y = '1'

In [26]:
z = x + y

In [27]:
z

'Hi1'

In [28]:
x = 1.0 - 1.0j

In [29]:
type(x)

complex

In [30]:
x.real

1.0

In [31]:
x.imag

-1.0

In [32]:
z

'Hi1'

In [33]:
x = 'Hi'
y = str('1')
z = x + y

In [34]:
z

'Hi1'

In [35]:
True and True

True

In [36]:
True and False

False

In [37]:
True or True

True

In [38]:
True or False

True

In [39]:
# or is multiply and is add

In [40]:
x = 4
y = 3

if x > y:
    print ('larger no is x = {}'. format(x))
else:
    print ('Larger no is y = {}' .format(y))

larger no is x = 4

In [41]:
list1 = [1,2,3]

In [42]:
list1.append(4)

In [43]:
list1

[1, 2, 3, 4]

In [44]:
list1.insert(2,"a")

In [45]:
list1

[1, 2, 'a', 3, 4]

In [46]:
list1

[1, 2, 'a', 3, 4]

In [47]:
list1.pop()

4

list2 = [1,3,5,7]

In [48]:
list1 = [1,2,3,4,5,6]

In [49]:
sum(list1)

21

In [50]:
for x in list1:
    print(x)
else:
    print('none left')

1
2
3
4
5
6
none left

In [51]:
n = int(input('Enter a no:'))

sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i + 1
    
print(sum)

Enter a no:2
3

In [91]:
d = (input('Enter a date in format dd/mm/yyyy:'))

dd,mm,yyyy = d.split('/')
dd = int(dd)
mm = int(mm)
yyyy = int(yyyy)

if yyyy%4 == 0: #leap year
    
    if dd<=29 and mm<=12:
        print('date is valid')
    else:
        print('date is invalid')
        
else:
         if dd<=31 and mm<=12 and mm!=2:
            if (mm == 1 or mm == 3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
                print('date is valid')
        
            elif (mm==4 or mm==6 or mm==9 or mm==11):
                print('date is invalid')
     elif mm==2:
        print('date is valid')
         else:
            print('date is invalid')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 22)

In [ ]:
# Write a Python program to find the volume of a sphere with diameter 12 cm.
# Formula: V=4/3 * Ï€ * r 3

In [108]:
d = int(input('Input diameter in cm : ' ))

pi = 3.14

v = (4/3)*pi*(d/2)**2

print('volume of sphere is',v )

Input diameter in cm : 15
volume of sphere is 235.5

In [125]:
FN = str(input('Input your first name:'))
LN = str(input('Input your last name:'))
print('Your full name is : {} {}'.format(LN,FN) )

Input your first name:Neelesh
Input your last name:Ramane
Your full name is : Ramane Neelesh

In [126]:
list = []
for i in range(2000,3201):
   if i%7 == 0 and i%5 !=0:
       list.append(i)
print(list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [127]:
name = input('Enter your name in format First Name Last Name ')
fn,ln = name.split(' ')
print ('Your name is {} {}'.format(ln,fn))

Enter your name in format First Name Last Name Neelesh Ramane
Your name is Ramane Neelesh